appnope==0.1.2
astroid==2.5.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
certifi==2021.10.8
charset-normalizer==2.0.7
decorator==4.4.2
distlib==0.3.2
filelock==3.0.12
flake8==3.8.4
idna==3.3
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
isort==5.7.0
jedi==0.18.0
jupyter-client==6.1.11
jupyter-core==4.7.1
lazy-object-proxy==1.5.2
mccabe==0.6.1
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.2.0
prompt-toolkit==3.0.17
protobuf==3.17.3
ptyprocess==0.7.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.8.1
pylint==2.7.2
python-dateutil==2.8.1
pyzmq==22.0.3
requests==2.26.0
six==1.15.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
urllib3==1.26.7
virtualenv==20.7.2
wcwidth==0.2.5
wrapt==1.12.1
